body {
  background-image: url(images/background.jpg);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.image {
	float: right;
	width: 200px;
	padding: 10px;
	background-color: white;
	margin: 10px;
}
	

td {
  font-family: "Lucida Handwriting", "Times New Roman", serif;
}
