body {
  background-image: url("../images/background.jpg");
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  top: 25px;
  font-size: 500%;
  font-family: "Lucida Console", "Times New Roman", serif;
	color: white;
  text-align: center;
}

.image {
  float: right;
  width: 200px;
  padding: 10px;
  background-color: white;
  margin: 10px 0 px 10px 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	
tr,
td {
	top: 5px;
  font-family: "Lucida Console", "Times New Roman", serif;
	background-color: white;
	font-size: 150%;
}
